<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="normalize.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="Destinos.css">

	<title>Destinos | Aerolinea Unknown</title>

	<title></title>
</head>
<header>
	<div class="Div_Nav">		
		<nav class="Nav">
			<ul class="Nav__ul">
				<li class="Nav__li"><a href="#">Inicio</a></li>
				<li class="Nav__li"><a href="#">Mis Viajes</a></li>
				<li class="Nav__li"><a href="#">Destinos</a></li>
				<li class="Nav__li"><a href="#">Estado de Vuelo</a></li>
				<li class="Nav__li"><a href="#">Iniciar Sesion</a></li>
			</ul>
		</nav>	
	</div>
</header>


<body>

	<div class="HeaderIMG">			
		<img src="D:\IMAGENES\Fino.jpg" />
	</div>

	<div class="ImagenDestino">
		<img src="D:\IMAGENES\nina_justo_en_el_corazon.jpg" />
	</div>


	  <button>Nacionales</button>
	  <button>Internacionales</button>
</body>

<footer class="Footer">
	
	<div class="Footer_Div">
		<img src="D:\IMAGENES\Fino.jpg" />
	</div>
	<div class="Footer__Div-p">
		<p> © Copyright 2021 Unknown Perú S.A.</p><hr class="LineaDivisoria" width=".1" size="90"/>
		<p> Inicio </p>
		<p> Mis Viajes </p>
		<p> Destinos </p>
		<p> Estado de Vuelo</p><hr class="LineaDivisoria" width=".1" size="90"/>
	</div>

	<li class="Footer__li">  <i class="fab fa-instagram Icon"></i>   </li>
	<li class="Footer__li">  <i class="fab fa-facebook-f Icon"></i>  </li>
	<li class="Footer__li">  <i class="fab fa-youtube Icon"></i>     </li>
	<li class="Footer__li">  <i class="fab fa-twitter Icon"></i>      </li>

</footer>

</html>