<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="normalize.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="Estado de Vuelo.css">

	<title>Inicio | Aerolinea Unknown</title>
</head>
<header class="Header">
	<div class="Div_Nav">		
		<nav class="Nav">
			<ul class="Nav__ul">
				<li class="Nav__li"><a href="#">Inicio</a></li>
				<li class="Nav__li"><a href="#">Mis Viajes</a></li>
				<li class="Nav__li"><a href="#">Destinos</a></li>
				<li class="Nav__li"><a href="#">Estado de Vuelo</a></li>
				<li class="Nav__li"><a href="#">Iniciar Sesion</a></li>
			</ul>
			<div class="LogoAerolinea">
				<img src="D:\IMAGENES\Fino.jpg" /><p>Aerolinea Unknown</p>
			</div>
		</nav>	
	</div>
</header>
<body>
	
	<div class="BuscarViajes">
		<input type="text" name="" placeholder="Ingresar Codigo de Vuelo">
		<button type="button">Buscar</button>
	</div>

	<div class="ContenedorTabla">
		<table class="Tabla">
			<thead class="HeadTable">
				<tr>
					<th>Codigo de Vuelo</th>
					<th>Origen</th>
					<th>Fecha Salida</th>
					<th>Hora Salida</th>
					<th>Destino</th>
					<th>Fecha Llegada</th>
					<th>Hora Llegada</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody class="BodyTable">
				<tr>
					<td>V_0001</td>
					<td>Lima</td>
					<td>09/07/2021</td>
					<td>20:00</td>
					<td>Cuzco</td>
					<td>09/07/2021</td>
					<td>22:00</td>
					<td>Aterrizo</td>
				</tr>
				<tr>
					<td>V_0001</td>
					<td>Lima</td>
					<td>09/07/2021</td>
					<td>20:00</td>
					<td>Cuzco</td>
					<td>09/07/2021</td>
					<td>22:00</td>
					<td>Progreso</td>
				</tr>
				<tr>
					<td>V_0001</td>
					<td>Lima</td>
					<td>09/07/2021</td>
					<td>20:00</td>
					<td>Cuzco</td>
					<td>09/07/2021</td>
					<td>22:00</td>
					<td>Confirmado</td>
				</tr>
				<tr>
					<td>V_0001</td>
					<td>Lima</td>
					<td>09/07/2021</td>
					<td>20:00</td>
					<td>Cuzco</td>
					<td>09/07/2021</td>
					<td>22:00</td>
					<td>Programado</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<footer class="Footer">
			
	<img src="D:\IMAGENES\Fino.jpg" />

	<a> © Copyright 2021 Unknown Perú S.A.</a><hr class="LineaDivisoria"/>
	<a class="Index"> Inicio </a>
	<a class="Index"> Mis Viajes </a>
	<a class="Index"> Destinos </a>
	<a class="Index"> Estado de Vuelo</a><hr class="LineaDivisoria"/>

	<li class="Footer__li">  <i class="fab fa-instagram Icon"></i>   </li>
	<li class="Footer__li">  <i class="fab fa-facebook-f Icon"></i>  </li>
	<li class="Footer__li">  <i class="fab fa-youtube Icon"></i>     </li>
	<li class="Footer__li">  <i class="fab fa-twitter Icon"></i>     </li>

</footer>

</html>