<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="normalize.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="Inicio.css">

	<title>Inicio | Aerolinea Unknown</title>
</head> 
<header class="Header">
	<div class="Div_Nav">		
		<nav class="Nav">
			<ul class="Nav__ul">
				<li class="Nav__li"><a href="#">Inicio</a></li>
				<li class="Nav__li"><a href="#">Mis Viajes</a></li>
				<li class="Nav__li"><a href="#">Destinos</a></li>
				<li class="Nav__li"><a href="#">Estado de Vuelo</a></li>
				<li class="Nav__li"><a href="#">Iniciar Sesion</a></li>
			</ul>
			<div class="LogoAerolinea">
				<img src="D:\IMAGENES\Fino.jpg" /><p>Aerolinea Unknown</p>
			</div>
		</nav>	
	</div>
</header>
<body>
	<!--<p class="Titulo">Aerolinea Unknown</p>-->

	<div class="Slider">
		<ul>
			<li><img src="D:\IMAGENES\saltodelangel.jpg"></li>
			<li><img src="D:\IMAGENES\Machupicchu.jpg"></li>
			<li><img src="D:\IMAGENES\Venecia.jpg"></li>
			<li><img src="D:\IMAGENES\Montaña.jpg"></li>
		</ul>
	</div>

	<div class="ContenedorBuscador">
		<!--<div class="ContenedorBuscador__Div1">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Selecciona un Asiento">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Numero de Pasajeros">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Solo Ida">
			<button type="submit" class="ContenedorBuscador__Div1__Button">Buscar Vuelos</button>
		</div> NO IMPLEMENTAR ESTO ESTA EN PROCESO-->

		<div class="ContenedorBuscador__Reserva"><p>Reserva un Vuelo</p></div>

		<div class="ContenedorBuscador__Div">
			<input type="text" class="ContenedorBuscador__Div__Input1" placeholder="Origen">
			<input type="text" class="ContenedorBuscador__Div__Input2" placeholder="Destino">
			<input type="date" class="ContenedorBuscador__Div__Input3" placeholder="Fecha Ida"> 
			<input type="date" class="ContenedorBuscador__Div__Input4" placeholder="Fecha Vuelta">
			<button type="submit" class="ContenedorBuscador__Div1__Button">Buscar Vuelos</button>
		</div>
	</div>

	<div class="ParrafoDestinos">
		<p>Destinos</p>
		<a href="#">Ver mas Destinos</a>
	</div>

	<div class="ImgBotones">
		<div class="Item SliderBotones">
			<ul>	
				<li><img class="Item__IMG1" src="D:\IMAGENES\saltodelangel.jpg"></li>
				<div class="NombreDestino NombreDestino__P1">
					<p>Salto del Angel, Venezuela</p>
				</div>
				<li><img class="Item__IMG2" src="D:\IMAGENES\Machupicchu.jpg"></li>
				<div class="NombreDestino NombreDestino__P2">
					<p>Machu Picchu, Peru</p>
				</div>
				<li><img class="Item__IMG3" src="D:\IMAGENES\Venecia.jpg"></li>
				<div class="NombreDestino NombreDestino__P3">
					<p>Venecia, Italia</p>
				</div>
				<li><img class="Item__IMG4" src="D:\IMAGENES\Montaña.jpg"></li>
				<div class="NombreDestino NombreDestino__P4">
					<p>Hornocal, Argentina</p>
				</div>
				<li><img class="Item__IMG5" src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\cataratas-iguazu.jpg"></li>
				<div class="NombreDestino NombreDestino__P5">
					<p>Cataratas del Iguazú, Argentina</p>
				</div>
				<li><img class="Item__IMG6" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\basilica-de-san-pedro.jpg"></li>
				<div class="NombreDestino NombreDestino__P6">
					<p>Basilica de San Pedro, Vaticano</p>
				</div>
				<li><img class="Item__IMG7" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Alhambra-Granada-1.jpg"></li>
				<div class="NombreDestino NombreDestino__P7">
					<p>Alhambra, España</p>
				</div>
				<li><img class="Item__IMG8" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\torre-eiffel.jpg"></li>
				<div class="NombreDestino NombreDestino__P8">
					<p>Torre Eiffel, Francia</p>
				</div>
			</ul>
		</div>
	</div>

	<div class="ParrafoVuelos">
		<p>Ofertas de Vuelos</p>
	</div>

	<div class="ImgVuelos">
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\GOLDEN-BRIDGE.jpg" />
			<div class="NombreVuelo__P1 NombreVuelo">
				<p>Golden Bridge, Vietnam</p>
				<p class="PrecioVuelo1">S/600</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Monte-Fuji.jpg" />
			<div class="NombreVuelo__P2 NombreVuelo">
				<p>Monte Fuji, Japon</p>
				<p class="PrecioVuelo2">S/800</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\muralla-china-t.jpg" />
			<div class="NombreVuelo__P3 NombreVuelo">
				<p>La Gran Muralla China, China</p>
				<p class="PrecioVuelo3">S/1000</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Cristo-Redentor.jpg" />
			<div class="NombreVuelo__P4 NombreVuelo">
				<p>Cristo Redentor, Brasil</p>
				<p class="PrecioVuelo4">S/900</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Playas-Maldivia.jpg" />
			<div class="NombreVuelo__P5 NombreVuelo">
				<p>Playas Maldivia, Maldivia</p>
				<p class="PrecioVuelo5">S/1500</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\cataratas-niagara.jpg" />
			<div class="NombreVuelo__P6 NombreVuelo">
				<p class="NombreVuelo-P6">Cataratas del Niagara, Canada</p>
				<p class="PrecioVuelo6">S/1300</p>
			</div>
		</div>
	</div>
<footer class="Footer">
			
		<img src="D:\IMAGENES\Fino.jpg" />

		<a> © Copyright 2021 Unknown Perú S.A.</a><hr class="LineaDivisoria"/>
		<a class="Index"> Inicio </a>
		<a class="Index"> Mis Viajes </a>
		<a class="Index"> Destinos </a>
		<a class="Index"> Estado de Vuelo</a><hr class="LineaDivisoria"/>

		<li class="Footer__li">  <i class="fab fa-instagram Icon"></i>   </li>
		<li class="Footer__li">  <i class="fab fa-facebook-f Icon"></i>  </li>
		<li class="Footer__li">  <i class="fab fa-youtube Icon"></i>     </li>
		<li class="Footer__li">  
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="normalize.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="Inicio.css">

	<title>Inicio | Aerolinea Unknown</title>
</head> 
<header class="Header">
	<div class="Div_Nav">		
		<nav class="Nav">
			<ul class="Nav__ul">
				<li class="Nav__li"><a href="#">Inicio</a></li>
				<li class="Nav__li"><a href="#">Mis Viajes</a></li>
				<li class="Nav__li"><a href="#">Destinos</a></li>
				<li class="Nav__li"><a href="#">Estado de Vuelo</a></li>
				<li class="Nav__li"><a href="#">Iniciar Sesion</a></li>
			</ul>
			<div class="LogoAerolinea">
				<img src="D:\IMAGENES\Fino.jpg" /><p>Aerolinea Unknown</p>
			</div>
		</nav>	
	</div>
</header>
<body>
	<!--<p class="Titulo">Aerolinea Unknown</p>-->

	<div class="Slider">
		<ul>
			<li><img src="D:\IMAGENES\saltodelangel.jpg"></li>
			<li><img src="D:\IMAGENES\Machupicchu.jpg"></li>
			<li><img src="D:\IMAGENES\Venecia.jpg"></li>
			<li><img src="D:\IMAGENES\Montaña.jpg"></li>
		</ul>
	</div>

	<div class="ContenedorBuscador">
		<!--<div class="ContenedorBuscador__Div1">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Selecciona un Asiento">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Numero de Pasajeros">
			<input type="text" class="ContenedorBuscador__Div1__Input" placeholder="Solo Ida">
			<button type="submit" class="ContenedorBuscador__Div1__Button">Buscar Vuelos</button>
		</div> NO IMPLEMENTAR ESTO ESTA EN PROCESO-->

		<div class="ContenedorBuscador__Reserva"><p>Reserva un Vuelo</p></div>

		<div class="ContenedorBuscador__Div">
			<input type="text" class="ContenedorBuscador__Div__Input1" placeholder="Origen">
			<input type="text" class="ContenedorBuscador__Div__Input2" placeholder="Destino">
			<input type="date" class="ContenedorBuscador__Div__Input3" placeholder="Fecha Ida"> 
			<input type="date" class="ContenedorBuscador__Div__Input4" placeholder="Fecha Vuelta">
			<button type="submit" class="ContenedorBuscador__Div1__Button">Buscar Vuelos</button>
		</div>
	</div>

	<div class="ParrafoDestinos">
		<p>Destinos</p>
		<a href="#">Ver mas Destinos</a>
	</div>

	<div class="ImgBotones">
		<div class="Item SliderBotones">
			<ul>	
				<li><img class="Item__IMG1" src="D:\IMAGENES\saltodelangel.jpg"></li>
				<div class="NombreDestino NombreDestino__P1">
					<p>Salto del Angel, Venezuela</p>
				</div>
				<li><img class="Item__IMG2" src="D:\IMAGENES\Machupicchu.jpg"></li>
				<div class="NombreDestino NombreDestino__P2">
					<p>Machu Picchu, Peru</p>
				</div>
				<li><img class="Item__IMG3" src="D:\IMAGENES\Venecia.jpg"></li>
				<div class="NombreDestino NombreDestino__P3">
					<p>Venecia, Italia</p>
				</div>
				<li><img class="Item__IMG4" src="D:\IMAGENES\Montaña.jpg"></li>
				<div class="NombreDestino NombreDestino__P4">
					<p>Hornocal, Argentina</p>
				</div>
				<li><img class="Item__IMG5" src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\cataratas-iguazu.jpg"></li>
				<div class="NombreDestino NombreDestino__P5">
					<p>Cataratas del Iguazú, Argentina</p>
				</div>
				<li><img class="Item__IMG6" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\basilica-de-san-pedro.jpg"></li>
				<div class="NombreDestino NombreDestino__P6">
					<p>Basilica de San Pedro, Vaticano</p>
				</div>
				<li><img class="Item__IMG7" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Alhambra-Granada-1.jpg"></li>
				<div class="NombreDestino NombreDestino__P7">
					<p>Alhambra, España</p>
				</div>
				<li><img class="Item__IMG8" src="\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\torre-eiffel.jpg"></li>
				<div class="NombreDestino NombreDestino__P8">
					<p>Torre Eiffel, Francia</p>
				</div>
			</ul>
		</div>
	</div>

	<div class="ParrafoVuelos">
		<p>Ofertas de Vuelos</p>
	</div>

	<div class="ImgVuelos">
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\GOLDEN-BRIDGE.jpg" />
			<div class="NombreVuelo__P1 NombreVuelo">
				<p>Golden Bridge, Vietnam</p>
				<p class="PrecioVuelo1">S/600</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Monte-Fuji.jpg" />
			<div class="NombreVuelo__P2 NombreVuelo">
				<p>Monte Fuji, Japon</p>
				<p class="PrecioVuelo2">S/800</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\muralla-china-t.jpg" />
			<div class="NombreVuelo__P3 NombreVuelo">
				<p>La Gran Muralla China, China</p>
				<p class="PrecioVuelo3">S/1000</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Cristo-Redentor.jpg" />
			<div class="NombreVuelo__P4 NombreVuelo">
				<p>Cristo Redentor, Brasil</p>
				<p class="PrecioVuelo4">S/900</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\Playas-Maldivia.jpg" />
			<div class="NombreVuelo__P5 NombreVuelo">
				<p>Playas Maldivia, Maldivia</p>
				<p class="PrecioVuelo5">S/1500</p>
			</div>
		</div>
		<div class="ImgVuelos__Div">
			<img src="F:\Joel-Instituto\4to Ciclo\Spring\CSS\Aerolinea Unknown\Imagenes\cataratas-niagara.jpg" />
			<div class="NombreVuelo__P6 NombreVuelo">
				<p class="NombreVuelo-P6">Cataratas del Niagara, Canada</p>
				<p class="PrecioVuelo6">S/1300</p>
			</div>
		</div>
	</div>
<footer class="Footer">
			
		<img src="C:\Users\jefer\Downloads\Aerolinea Unknown\Aerolinea Unknown\Imagenes\Fino.jpg" />

		<a> © Copyright 2021 Unknown Perú S.A.</a><hr class="LineaDivisoria"/>
		<a class="Index"> Inicio </a>
		<a class="Index"> Mis Viajes </a>
		<a class="Index"> Destinos </a>
		<a class="Index"> Estado de Vuelo</a><hr class="LineaDivisoria"/>

		<li class="Footer__li">  <i class="fab fa-instagram Icon"></i>   </li>
		<li class="Footer__li">  <i class="fab fa-facebook-f Icon"></i>  </li>
		<li class="Footer__li">  <i class="fab fa-youtube Icon"></i>     </li>
		<li class="Footer__li">  <i class="fab fa-twitter Icon"></i>     </li>

	</footer>
	

</body>
</html>class="fab fa-twitter Icon"></i>     </li>

	</footer>
	

</body>
</html>